/*
Common
**********************/

html, 
body {
    height: 100%;
    background-color: #cc5500;
}

.content {
    height: fit-content;
    background-color: #ff9f00;
    max-width: 600px ;
    border-left: 1px solid #ccc;
    margin: 0 auto;
    border-right: 1px solid #ccc;
    max-width: 600px ;
}
h1 {
    padding-left: 7%;
    padding-top: 5%;
    border-bottom: 1px solid #ccc;
}

/*
Post
**********************/

.post_form{
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
    background-color: #ff9f00;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc
}

.post_form textarea {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc
}
.posts ul {
    padding: 0
}

.posts li {
    padding: 20px 40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    list-style: none;
    position: relative;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.posts li .menu{
    display: none;
    position: absolute;
    top: 40px; 
    right: 15px;
    border: 1px solid #ccc;
    background-color: rgb(57, 29, 10);
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;

}

.posts li .menu a {
    text-decoration: none;
    color: white;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    color: rgb(57, 29, 10);
    font-weight: bold;
}

.posts li .name_body .datetime {
    color:#cc5500;
    font-weight: bold;
}

element.style {
    width: 7%;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}
input[type="submit"] {
   
    border-radius: 4px;
    width: 22%;
}
button {
    padding: 2%;
    width: 20%;
    border-radius: 3px;
    border: none;
}